body {
  color: blue;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: pink;
  border-radius: 3px;
}